body, html, {
  margin:0;
  padding:0;
background: magenta;
}

body {
  font-family: sans-serif;
  background-color:rgb(234, 66, 152);
}

.container {
	position: relative;
}

.overlay {
	position:absolute;
	z-index:3;
	top:200px;
	left:100px;
}
