body, html, {
  margin:0;
  padding:0;
/* background: magenta; */
}

body {
  font-family: sans-serif;
  background-color:rgb(234, 66, 152);
}

h1 {
	    display: block;
    font-size: 2em;
    -webkit-margin-before: 0;
    -webkit-margin-after:0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
